.main-layout[b-u6a25tfkld] {
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 45px;
}

.main-layout main[b-u6a25tfkld] {
    overflow: auto;
}

.main-layout footer[b-u6a25tfkld] {
    background: var(--ct-blue);
    color: white;
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
}