@page "/"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager

<PageTitle>The Chairitory</PageTitle>

<div class="card no-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-5">
                <!-- Product image -->
                <a href="javascript: void(0);" class="text-center d-block mb-4">
                    <img src="@_activeImage" class="img-fluid" style="max-width: 280px;"
                        alt="Product-img">
                </a>

                <div class="d-lg-flex d-none justify-content-center">
                    <a href="javascript: void(0);" @onclick="@(() => SelectProductImage(3))">
                        <img src="assets/images/products/product-3.jpg" class="img-fluid img-thumbnail p-2"
                            style="max-width: 75px;" alt="Product-img">
                    </a>
                    <a href="javascript: void(0);" @onclick="@(() => SelectProductImage(5))" class="ms-2">
                        <img src="assets/images/products/product-2.jpg" class="img-fluid img-thumbnail p-2"
                            style="max-width: 75px;" alt="Product-img">
                    </a>
                    <a href="javascript: void(0);" @onclick="@(() => SelectProductImage(6))" class="ms-2">
                        <img src="assets/images/products/product-1.jpg" class="img-fluid img-thumbnail p-2"
                            style="max-width: 75px;" alt="Product-img">
                    </a>
                </div>
            </div> <!-- end col -->
            <div class="col-lg-7">
                <form class="ps-lg-4">
                    <!-- Product title -->
                    <h3 class="mt-0">Amazing Modern Chair (Orange) <a href="javascript: void(0);" class="text-muted"><i
                                class="mdi mdi-square-edit-outline ms-2"></i></a> </h3>
                    <p class="mb-1">Added Date: 09/12/2018</p>
                    <p class="font-16">
                        <span class="text-warning mdi mdi-star"></span>
                        <span class="text-warning mdi mdi-star"></span>
                        <span class="text-warning mdi mdi-star"></span>
                        <span class="text-warning mdi mdi-star"></span>
                        <span class="text-warning mdi mdi-star"></span>
                    </p>

                    <!-- Product stock -->
                    <div class="mt-3">
                        <h4><span class="badge badge-success-lighten">Instock</span></h4>
                    </div>

                    <!-- Product description -->
                    <div class="mt-4">
                        <h6 class="font-14">Retail Price:</h6>
                        <h3> $139.58</h3>
                    </div>

                    <!-- Quantity -->
                    <div class="mt-4">
                        <h6 class="font-14">Quantity</h6>
                        <div class="d-flex">
                            <input type="number" min="1" value="1" class="form-control" placeholder="Qty"
                                style="width: 90px;">
                            <button type="button" class="btn btn-danger ms-2" @onclick="AddToCart"><i
                                    class="mdi mdi-cart me-1"></i> Add to
                                cart</button>
                        </div>
                    </div>

                    <!-- Product description -->
                    <div class="mt-4">
                        <h6 class="font-14">Description:</h6>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed to using 'Content here, content
                            here', making it look like readable English. </p>
                    </div>

                    <!-- Product information -->
                    <div class="mt-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="font-14">Available Stock:</h6>
                                <p class="text-sm lh-150">1784</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-14">Number of Orders:</h6>
                                <p class="text-sm lh-150">5,458</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="font-14">Revenue:</h6>
                                <p class="text-sm lh-150">$8,57,014</p>
                            </div>
                        </div>
                    </div>

                </form>
            </div> <!-- end col -->
        </div> <!-- end row-->



    </div> <!-- end card-body-->


</div>

@if (Intro.HasValue && Intro.Value)
{
    <VideoModal VideoLink="/assets/intro.mp4" OnClosed="OnModalClosed" />
}

@code
{

    [Parameter, SupplyParameterFromQuery]
    public bool? Intro { get; set; }

    private string _activeImage = "assets/images/products/product-3.jpg";

    private void AddToCart()
    {
        JSRuntime.InvokeVoidAsync("console.info", "Product added to cart and page redirected to show cart");
        JSRuntime.InvokeVoidAsync("console.error", "Error: Something went wrong");
        NavManager.NavigateTo("/cart");
    }

    private void SelectProductImage(int imgIndex)
    {
        _activeImage = $"assets/images/products/product-{imgIndex}.jpg";

        if (imgIndex == 5)
        {
            JSRuntime.InvokeVoidAsync("console.error", "Product image could not be found");
        }

        if (imgIndex == 6)
        {
            JSRuntime.InvokeVoidAsync("console.warn", "Product image loads but is broken");
        }
    }

    private void OnModalClosed() {
        NavManager.NavigateTo("/");
    }
}
