@inherits LayoutComponentBase

<div class="main-layout">
    <header class="px-2">
        <NavMenu />
    </header>
    

    <main>
        @Body
    </main>

    <footer class="px-2">
        <img src="/images/logo-small-light.svg" width="20px" alt="C" />
        <span>The best intro to Capture is to create one! We designed this dummy page, so you can play with it as much as you wish!</span>
    </footer>
</div>
